* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f5;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;
}

/* SIDEBAR FIXED */

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #e63946;
  position: fixed;
  height: 100%;
  overflow: auto;

}

.align {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50%;
}

.sidebar a {
  display: block;
  color: #f1f1f5;
  padding: 20px;
  text-decoration: none;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;

  transition: 300ms;
}

.sidebar a:hover {
  background-color: #ee4f5c;
}

/* CONTENT WEB */

.content {
  margin-left: 300px;
  padding: 0 20px;
  height: 100vh;
  font-size: 2.8rem;
}

.home-page {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.header img {
  width: 350px;
  border-radius: 50%;
  border: 5px solid #e63946;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  color: #e63946;

  padding: 10px 0;
}

.header p {
  color: #e63946;
}

.social-links {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.social-links a {
  background: #e63946;
  padding: 20px;
  border-radius: 50%;
  color: #f1f1f5;

  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  transition: 300ms;
}
.social-links a:hover {
  background: #ee4f5c;
}

/* ABOUT PAGE WEB*/

.about {
  height: 100vh;
  padding-top: 50px;
}

.about h2 {
  text-align: center;
  color: #e63946;

  font-size: 5.6rem;
}

.about p {
  padding: 80px 50px;
}

/* SKILLS PAGE WEB */

.skills{
  height: 100vh;
  text-align: center;

  padding: 50px;

}

.skills h2 {
  font-size: 5.6rem;
  color: #e63946;  
}

.fa-ul {
  margin: 0;
  text-align: left;

  font-weight: 500;

  padding: 80px 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.skills li{
  list-style: none;
  font-size: 3.8rem;
  line-height: 2;
}

.fa-li {
  color: #e63946;
}



/* ------- MEDIA QUERY ----------- */

/* TABLET */
@media screen and (max-width: 870px) {
  .sidebar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
  }

  .align {
    width: 100%;
    height: 60px;
    margin: auto;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .align a {
    height: 60px;
    display: inline;
    font-size: 2.0rem;

    padding: 15px 30px;

    text-align: center;
  }

  /* CONTENT */

  .content {
    margin-left: 0;
    margin-top: 60px;
    padding: 30px 20px;
  }
  /* HOME PAGE */

  .home-page {
    height: 100vh;
    text-align: center;

    display: block;
  }

  .header img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #e63946;
  }

  .header h1 {
    font-size: 3.8rem;
    padding: 10px 0;
  }

  .header p {
    font-size: 1.8rem;
    padding: 0 0 20px;
  }

  .social-links {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

  }

  .social-links a {
    background: #e63946;
    padding: 14px;
    border-radius: 50%;
    color: #f1f1f5;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
  }

  /* ABOUT PAGE */
  .about {
    margin-top: 60px;
  }

  .about h2 {
    padding-top: 50px;
    font-size: 3.8rem;
  }

  .about p {
    font-size: 1.8rem;
    padding: 50px 20px 0;
    line-height: 2.5;
  }
  /* SKILLS */
  .skills {
    padding: 50px 40px;
  }

  .skills h2 {
    padding-top: 50px;
    font-size: 3.8rem;
  }

  .skills ul {
    padding: 50px 20px 0;
  }

  .skills li{
    font-size: 2.2rem;
  }

  .fa-ul {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

}

/* MOBILE */

@media screen and (max-width: 400px) {
  .align a {
    font-size: 1.5rem;
    text-align: center;

    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* CONTENT */

  .content {
    margin-left: 0;

    height: 100vh;
  }

  .home-page {
    height: 100vh;
    text-align: center;

    display: block;
  }

  .header img {
    border-radius: 50%;
    border: 5px solid #e63946;
  }

  .header h1 {
    font-size: 3rem;
    padding: 10px 0;
  }

  .header p {
    font-size: 1.5rem;
  }

  .social-links {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  .social-links a {
    background: #e63946;
    padding: 14px;
    border-radius: 50%;
    color: #f1f1f5;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
  }

  .about {
    margin-top: 60px;
  }

  .about h2 {
    padding-top: 50px;
    font-size: 3rem;
  }

  .about p {
    font-size: 1.8rem;
    padding: 50px 5px 0;
    line-height: 1.5;
  }

  .skills h2 {
    padding-top: 50px;
    font-size: 3rem;
  }

  .skills {
    padding: 50px 0;
  }

  .skills ul {
    padding: 50px 0;

  }

  .skills li{
    font-size: 2.2rem;
  }

  .fa-ul {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

}